.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1d5dc;
  padding: 1rem 2rem;
}

.title {
  font-size: 2rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
